img{
	width:300px;
	border:4px solid blue;
}

body{
	background-color:Cyan;
	font-family: Arial;
}

.red{
	color:Red;
}

.big_font{
	font-size:32px;
}

#specialStyle{
	border: 2px solid red;
	background-color:yellow;
	width: 30%
}